.full-width{
    width:100%;
    flex-shrink: 0;
}

.deplete-animation{
    animation: deplete 1s linear forwards;
}

.expand-animation{
    animation: deplete 1s linear reverse forwards;
}

@keyframes    deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}